body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#450101;
  color: white;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.role-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.role-button {
  text-decoration: none;
  color:#450101;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.role-button:hover {
  background-color: #660000;
  color: #fff;
}